{% extends 'school/base.html'%}

{% load static %}

{% block head %}
    <title>{% block title %}Личный кабинет{% endblock %}</title>

    <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/student.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
    <div class="account-page">
        <div class="profile">
            <h1>Профиль</h1>

            <div class="profile-information">
                <div class="student">
                    <img class="profile-avatar" src="{{ user_profile.avatar.url }}" alt="profile-avatar.svg"/>

                    <div class="student-personal">
                        <p>{{ user_profile.first_name }} {{ user_profile.last_name  }} {{ user_profile.patronymic }}</p>
                        <p>{{ user_profile.phone }}</p>
                        <p>{{ user_profile.mail }}</p>
                    </div>
                </div>

                <div class="profile-settings">
                    <h2>Сменить пароль</h2>

                    <label>
                        <input/>
                    </label>

                    <label>
                        <input/>
                    </label>

                    <button>Сменить пароль</button>
                </div>
            </div>
        </div>

        <div class="lessons">
            <h1>Мои занятия</h1>

            {% if user_lessons.length > 0 %}
                <div>

                </div>

            {% else %}
                <div>
                    нет занятий
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
