{% extends 'school/base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'styles/pages/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="home-page">
        <img class="home-preview" src="{% static 'media/photos/background-home.svg' %}" alt="background.svg"/>

        <div class="header">
            <div class="header-menu">
                <nav>
                    <ul class="header-list-menu">
                        <li>О нас</li>
                        <li>Уроки</li>
                        <li>Отзывы</li>
                        <li>Предподаватели</li>
                        <li>Блог</li>
                        <li>Speaking Club</li>
                        <li>Пособия</li>
                    </ul>
                </nav>
            </div>

            <div class="header-icons">
                <a href="#"><img src="{% static 'media/icons/vk-icon.svg' %}" alt="vk-icon.svg"/></a>
                <a href="#"><img src="{% static 'media/icons/telegram-icon.svg' %}" alt="telegram-icon.svg"/></a>
                <a href="#"><img src="{% static 'media/icons/instagram-icon.svg' %}" alt="instagram-icon.svg"/></a>
            </div>

            <div class="account-buttons">
                <div class="account-entrance">
                    <a href="{% url 'user:login' %}">Вход</a>
                </div>

                <div class="account-registration">
                    <a href="{% url 'user:registration' %}">Регистрация</a>
                </div>
            </div>

{#            <h1>О нас</h1>#}

{#            <div class="about-company">#}
{#                <p>Вы хотите учиться у нас? Мы всегда вам очень рады!</p>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}
