{% load static %}


<html lang="ru">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'styles/index.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'styles/pages/login.css' %}" rel="stylesheet" type="text/css">

        <title>{% block title %}Вход в личный кабинет{% endblock %}</title>
    </head>

    <body>
        <main>
            <div class="container">
                {% block content %}
                    <div class="login-page">
                       <img class="logo" src="{% static 'media/logo/logo-main.svg' %}" alt="logo-main.svg"/>

                       <div class="login-form">
                           <p>Вход в личный кабинет</p>

                           <label>
                               <input type="email" placeholder="Email / Телефон"/>
                           </label>

                           <label>
                               <input type="password" placeholder="Пароль"/>
                           </label>

                           <a>Забыли пароль?</a>

                           <button>Войти</button>
                       </div>

                        <div class="account-buttons">
                            <div class="account-entrance">
                                <a href="{% url 'user:login' %}">Вход</a>
                            </div>

                            <div class="account-registration">
                                <a href="{% url 'user:registration' %}">Регистрация</a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </main>
    </body>
</html>
