html, body {height: 100%}


.home-page {width: 1440px; margin-inline: auto}


.header-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header .header-menu {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
}

.header-menu li {
    text-decoration: none;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}
