.header-main {
    display: flex;
    background-color: #AFF4FF;
    width: 100%;
    height: 200px;
}


.header-main .header-content {
    margin: 20px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: 650;
    font-family: Roboto, sans-serif;
}

.header-content .header-menu {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
}

.header-menu li {
    text-decoration: none;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin-left: 30px;
}


.header-content .logo-main {width: 191px; height: 115px}

.header-content .header-icons {display: flex; justify-content: space-between; width: 120px}


.header-content .account-buttons {display: flex; justify-content: space-between; width: 310px}

.account-buttons div {
    border-radius: 5px;
    display: flex;
    width: 152px;
    height: 58px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.account-buttons .account-entrance {background-color: #00AEFFBF}

.account-buttons .account-registration {background-color: #F44545}
