html, body {height: 100%}


.header .header-menu {
    margin: 50px auto 50px auto;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-between;
    width: 1440px;
}

.header-menu li {
    text-decoration: none;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}
