{% load static %}


<div class="the-footer">
    <div class="footer-content">
        <div class="footer-info">
            <img class="logo-dark" src="{% static 'media/logo/logo-dark.svg' %}" alt="logo-dark.svg"/>

            <div class="footer-contacts">
                <div class="menu-contacts">
                    <nav>
                        <ul>
                            <li><a class="link-to-contacts" href="#">Контакты</a></li>
                            <li><a class="link-to-details" href="#">Реквизиты</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icons-links">
                    <div class="icons">
                        <img src="{% static 'media/icons/vk-icon-dark.svg' %}" alt="icon-vk.svg"/>
                        <img src="{% static 'media/icons/telegram-icon-dark.svg' %}" alt="icon-telegram.svg"/>
                        <img src="{% static 'media/icons/whatsapp-icon-dark.svg' %}" alt="icon-whatsapp.svg"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-company">
            <p>© 2024 SchoolSpeakEng</p>
        </div>
    </div>
</div>
