{% load static %}


<div class="the-footer">
    <div class="footer-content">
        <div class="footer-info">
            <img src="" alt="logo-dark.svg"/>

            <div class="footer-contacts">
                <nav>
                    <ul>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Реквизиты</a></li>
                    </ul>
                </nav>

                <div class="icons-links">
                    <img src="" alt="icon-telegram.svg"/>
                    <img src="" alt="icon-vk.svg"/>
                    <img src="" alt="icon-whatsapp.svg"/>
                </div>
            </div>
        </div>

        <div class="footer-company">
            <p>© 2024 SchoolSpeakEng</p>
        </div>
    </div>
</div>
