{% load static %}


<div class="the-header">
    <div class="header-content">
        <div class="header-navigation">
            <img class="logo-main" src="{% static 'media/logo/logo-main.svg' %}" alt="logo-header.svg"/>

            <nav>
                <ul class="header-menu">
                    <li><a href="{% url 'school:index' %}">О школе</a></li>
                    <li><a>Уроки</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-account">
            <div class="header-icons">
                <a><img src="{% static 'media/icons/vk-icon.svg' %}" alt="vk-icon.svg"/></a>
                <a><img src="{% static 'media/icons/telegram-icon.svg' %}" alt="telegram-icon.svg"/></a>
            </div>

            <div class="account-buttons">
                <div class="account-entrance">
                    <a href="{% url 'school:login' %}">Вход</a>
                </div>

                <div class="account-registration">
                    <a href="{% url 'school:registration' %}">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>
