{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Личный кабинет</title>

        <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'styles/account.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <main>
            {% include "school/components/header.html" %}

            <div class="account-page">
                <h1>Аккаунт пользователя</h1>
            </div>
        </main>
    </body>
</html>