{% load static %}

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static '../static/styles/main.css' %}" rel="stylesheet" type="text/css">

        <title>Онлайн-школа английского в Екатеринбурге</title>
    </head>

    <body>
        <main>
            <div class="header">
                <nav>
                    <ul class="header-menu">
                        <li><a>О школе</a></li>
                        <li><a>Предподаватели</a></li>
                        <li><a>Личный кабинет</a></li>
                    </ul>
                </nav>
            </div>
        </main>
    </body>
</html>
