{% load static %}

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css">

        <title>Онлайн-школа английского в Екатеринбурге</title>
    </head>

    <body>
        <main>

            <div class="header-main">
                <div class="header-content">
                    <img src="{% static 'media/logo/logo-main.svg' %}" alt="logo-header.svg"/>

                    <nav>
                        <ul class="header-menu">
                            <li><a>О школе</a></li>
                            <li><a>Уроки</a></li>
                        </ul>
                    </nav>

                    <div class="header-icons">
                        <img src="{% static 'media/icons/vk-icon.svg' %}" alt="vk-icon.svg"/>
                        <img src="{% static 'media/icons/telegram-icon.svg' %}" alt="telegram-icon.svg"/>
                    </div>

                    <div class="account-buttons">
                        <a>Вход</a>
                        <a>Регистрация</a>
                    </div>
                </div>
            </div>

            <div class="home-page">

            </div>
        </main>
    </body>
</html>
