{% load static %}


<html lang="ru">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'styles/index.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'styles/pages/registration.css' %}" rel="stylesheet" type="text/css">

        <title>{% block title %}{{ title }}{% endblock %}</title>
    </head>

    <body>
        <main>
            <div class="container">
                {% block content %}
                    <div class="mail-confirm-form">
                        <h1>Подтверждение почты</h1>

                        {% for field in form %}
                            <p>{{ field }}</p>
                        {% endfor %}

                    </div>
                {% endblock %}
            </div>
        </main>
    </body>
</html>
